@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--main-clr);
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: var(--main-clr);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
a {
  outline: none;
  border: none;
}

.wrapper {
  max-width: 100%;
  width: 80rem;
  padding: 7.4rem 0 11.2rem;
  margin: 0 auto;
}

.band-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--font-segoe);
}

.band-slogan {
  text-align: center;
  margin: 1.5rem 0;
  font-style: italic;
  opacity: 0.6;
  font-family: var(--font-family);
}

.half-w {
  width: 50%;
}
